<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
 
   xmlns:th="https://www.thymeleaf.org"
 
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 
   <head>
 
      <title>
 
         Hello World!
 
      </title>
 
   </head>
 
   <body>
 
      <h1 th:inline="text">Hello <span sec:authentication="name"></span>!</h1>
 
      <a href="/update" alt="update details">Update Details</a>
 
 
	  <!-- <a href="/read" alt="update details">Read Details</a>  (line 50, WebSecurityConfig.java)-->
 
	  <a href="/read" alt="update details">Read Details</a> 
 
      <a href="/delete" alt="delete data">delete Details</a> 	
      
      <a href="/onboard" alt="Onboard Employee">On-Boarding Details</a>  
 
      <form th:action="@{/logout}" method="post">
 
         <input type="submit" value="Sign Out"/>
 
      </form>
 
   </body>
 
<html>